
:root{
    --dark-color:#373737;
    --yelow-color:#d98324;
}

.navbar {
    background-color: var(--dark-color);
    text-align: center;
}



.navbar .navbar-nav .nav-link {
    color: #ffff;
}

@media (max-width: 900px) {
    .navbar-nav {
        background-color: var(--yelow-color);
    }
}

.navbar .navbar-toggler{
    color: #ffff !important; 
    font-size: 25px;
    border: none;
}

.navbar .navbar-toggler:focus{
    box-shadow: none;
}

.navbar ul i {
    background-color: var(--yelow-color);
    width: 33px;
    height: 33px;
    border-radius: 50%;
    padding: 10px;
    color: #000;
    position: relative;
    top: 18px;
}


.Foundation {
    background-color: var(--dark-color);
    min-height: calc(100vh - 72px);
}

.Foundation h1{
    font-size: 40px;
    font-weight: 800;
}
.Foundation p{
    color: #726e6d;
    font-size: 25px;
}
.Foundation  .imange{
    width: 420px;
    height: 200px;
    position: absolute;
    top: 10%;
}

@media (max-width: 900px){
    .Fuundation_imange{
        display: none;
    }
}

.main-btn{
   background-color: var(--yelow-color);
   padding: 18px 60px;
   border: none;
}

.main-btn:hover {
    background-color: var(--yelow-color);
    border: none;
    box-shadow: none;
}

.about-us .text {
font-size: 22px;
font-family:'Times New Roman', serif;
color: rgb(70, 67, 67);
}

.about-us h2,  .about-project h2{
    font-weight: 700;
}

.about-project .discription{
    max-width: 600px;
    font-size: 22px;
    font-family:'Times New Roman', serif;
    color: rgb(70, 67, 67);
}

hr {
    width: 700px;
    position: absolute;
    left: 20%;
}

/* ..........slider.....product................................................ */
.product {
    position: relative;
    overflow: hidden;
    padding: 20px;
  }
  
  .product-category {
    padding: 0 10vw;
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 40px;
    text-transform: capitalize;
  }
  
  .product-container {
    padding: 0 10vw;
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
  }
  
  .product-container::-webkit-scrollbar {
    display: none;
  }
  
  .product-card {
    flex: 0 0 auto;
    width: 250px;
    height: 450px;
    margin-right: 40px;
  }
  
  .product-image {
    position: relative;
    width: 100%;
    height: 350px;
    overflow: hidden;
  }
  
  .product-thumb {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .card-btn {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    width: 90%;
    text-transform: capitalize;
    border: none;
    outline: none;
    background: #fff;
    border-radius: 5px;
    transition: 0.5s;
    cursor: pointer;
    opacity: 0;
  }
  
  .product-card:hover .card-btn {
    opacity: 1;
  }
  
  .card-btn:hover {
    background: var(--yelow-color);
    color: #fff;
  }
  
  .product-info {
    width: 100%;
    height: 100px;
    padding-top: 10px;
  }
  
  .product-brand {
    text-transform: uppercase;
    font-size: 18px;
  }
  
  .product-short-description {
  max-width: 200px;;
    height: 80px;
    overflow: hidden;
    opacity: 0.5;
    margin: 5px 0;
  }
  
  .pre-btn,
  .nxt-btn {
    border: none;
    width: 10vw;
    height: 100%;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #fff 100%);
    cursor: pointer;
    z-index: 8;
  }
  
  .pre-btn {
    left: 0;
    transform: rotate(180deg);
  }
  
  .nxt-btn {
    right: 0;
  }
  
  .pre-btn img,
  .nxt-btn img {
    opacity: 0.2;
  }
  
  .pre-btn:hover img,
  .nxt-btn:hover img {
    opacity: 1;
  }
  
  .collection-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
  }
  
  .collection {
    position: relative;
  }
  
  .collection img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .collection p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    font-size: 50px;
    text-transform: capitalize;
  }
  
  .collection:nth-child(3) {
    grid-column: span 2;
    margin-bottom: 10px;
  }
  

/* .......................ower................................... */
.owser .text{
    font-size: 22px;
    font-family:'Times New Roman', serif;
    color: rgb(70, 67, 67); 
    max-width: 600px;
}

.Avatarka img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -khtml-border-radius: 50%;
}

.footer{
    background-color: var(--dark-color);
}

.footer a{
    color: #fff;
    text-decoration: none;
}

.footer ul i {
     font-size: 40px;
     
    }

@import url("https://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");

i{
    font-family: fontawesome !important;
}
  




